body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #F9FAFC;
}

#top-bar {
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(157,157,212,.2);
}

.ui.header {
  color: #2F3245;
  font-weight: 100;
}

.section {
  padding: 50px 0;
}

.content {
  background: #FFF;
  margin: 20px 0;
  box-shadow: 0px 1px 1px 0px rgba(157,157,212,.2);
  border: 1px solid #9D9DD4;
  overflow: hidden;
}

.selectable-item {
  transition: all .3s;
}

.ui.button.selected,
.ui.button.selected:focus,
.selectable-item:hover {
  background: #9D9DD4;
  color: #FFF;
}

.selectable-item:hover a {
  color: #FFF;
}

a {
  color: #9D9DD4;
}

.selected a {
  color: #FFF;
}

.settings__section {
  margin-bottom: 20px;
}
